extends ../layout/index

block content
    main.container.mt-5
        .row
            .col.md-5
                img(src=`/img/destinos_${trip.image}_ln.jpg`, class="img-fluid")
            .col.md-7
                h1 #{trip.title}
                p
                    i.fas.fa-calendar-alt
                    |  #{trip.departure_date} - #{trip.arrival_date}
                p
                    i.fas.fa-dollar-sign
                    |  #{trip.price}
                p
                    i.fas.fa-users
                    |  #{trip.available} Availables
                p= trip.description